.header{
    background:#FFF;
}

.header__inner{
    margin: 0 auto;
    padding:20px 15px;
    max-width:1230px;
}

.header__logo{
    color:#808080;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    text-align:center;
}

.confirm__content{
    margin: 0 auto;
    padding:30px 15px;
    max-width:1230px;
}

.confirm__heading{
    margin-bottom:40px;
    text-align:center
}

.form{
    margin: 0 auto;
    width:70%;
}

